[2019-01-17 15:06] krakjoe opened #1 "PECL/QA"
Hi @remicollet ... it's me again ... are you up for it ? (please)

[2019-01-17 15:06] krakjoe opened #2 "Windows/AV"
Hi @weltling, it's me again ... are you up for it ? (please)

[2019-01-17 15:26] remicollet commented on #1
Of course !!

[2019-01-17 15:31] remicollet commented on #1
Perhaps you can create the usual develop/release branch now
(so I will create the package.xml only in the release branch)

[2019-01-17 15:32] remicollet commented on #1
Do you want me to send to request for feedback on pecl ML ?

[2019-01-17 17:37] krakjoe commented on #1
I'll do that, and if you could do the internals mail, that'd be great ...

[2019-01-18 10:41] remicollet commented on #1
http://news.php.net/php.pecl.dev/15698

[2019-01-19 21:28] weltling commented on #2
Sure, Joe. I've just added a config, but seems it doesn't trigger AppVeyor. Could you check the settings please?

Btw. `pcov.directory=""` is the most portable solution. Just met that issue as well. There might be still some work needed to support relative paths, when the directory is set.

Thanks.

[2019-01-19 21:48] krakjoe commented on #2
I've done the relative cwd support and basic autoselect that will suit most application, and I think it's portable ...

Will check av ...

[2019-01-19 21:49] krakjoe commented on #2
Added to AV ...

[2019-01-19 22:15] krakjoe commented on #2
We appear to be building, was that automatic ? (yay)

Thanks again, I appreciate the effort ...

[2019-01-19 22:26] weltling commented on #2
Yeah, looks good with AppVeyor :) I'll check for PECL once it's that far. Closing.

Thanks.

[2019-01-19 22:36] krakjoe commented on #2
Thanks very much :)

[2019-01-22 07:10] krakjoe commented on #1
Morning Remi ... I think this is ready for pecl when you are ;)

[2019-01-22 07:29] remicollet commented on #1
Do we go with 0.0.1 beta ? or do you prefer something higher ?
How close are we from a "stable" API ?

[2019-01-22 07:31] remicollet commented on #1
Package created: https://pecl.php.net/package/pcov

[2019-01-22 07:33] krakjoe commented on #1
Well ... I've run pcov on every big project out there, it appears stable, and the API is certainly stable ... I'm going to leave it to you, as my very talented RM :)

[2019-01-22 07:48] remicollet commented on #1
So, probably fine to release "0.9.0" beta to show we are close to "1.0.0 stable"
(I don't think any project should start public release as "stable", we really need some feedback)

[2019-01-22 07:49] krakjoe commented on #1
You're right, good call ...

[2019-01-22 08:47] remicollet commented on #1
Usual test build, with test suite, done

* Fedora 26 to 29, RHEL 6, 7 and 8-Beta
* i386, x86_64, NTS, ZTS

Everything looks good.
So released and announced

[2019-01-22 08:47] #1 closed

[2019-01-24 12:54] krakjoe opened #3 "I broke the windows build"
Hi @weltling ... can you update the config.w32 to match config.m4 and drop 7.0 from CI please ?

[2019-01-24 22:24] krakjoe commented on #3
I've had a go at fixing it ... but it still fails on x64 for some reason, not sure why ... any clue s?

[2019-01-25 13:34] krakjoe opened #4 "Release 1.0.0"
Hi Remi :)

I know you're afk at the moment ... whenever you've time ...

Release v1.0.0 is ready for PECL ... I know I said the API was stable, but I changed it, hence version bump.

I think I've removed all the unused stuff, but if you could cast your eye over it, that'd be good.

The changelog should be brief, just "Import Zend CFG" or something. Probably still go with beta, even though the CFG

[2019-01-25 16:56] weltling commented on #3
@krakjoe i'll come to it this WE, probably tomorrow.

Thansk.

[2019-01-25 17:04] krakjoe commented on #3
Thanks very much, appreciated :)

[2019-01-26 02:15] weltling commented on #3
Fixed [here](https://github.com/krakjoe/pcov/commit/6c92cf1477350d608124167db5d97d6d56242790). `struct stat` is always 32 bit on Windows, `zend_stat_t` is a dynamic type just like `zend_long` is. That's it :)

[2019-01-26 02:15] #3 closed, assigned to weltling

[2019-01-26 05:34] krakjoe commented on #3
Ah, well spotted ... thanks for that :)

[2019-01-26 06:44] krakjoe opened #5 "Config.w32"
Hi @weltling, me again :)

I did make config.w32 work for 7.1-7.3, but it won't work for 7.4 because 7.3/7.4 share the same cfg currently.

I wonder if you could just fixup config.w32 so it matches config.m4 for me, please ?

[2019-01-26 15:42] #5 closed, assigned to weltling

[2019-01-26 15:44] krakjoe commented on #5
Thanks @weltling, looking in good shape for 1.0.0 now :)

[2019-01-30 08:50] krakjoe commented on #4
Morning @remicollet  ...

Just a quick FYI because you've been away so out of loop, we need this released by Friday to coincide with phpunit 8 release since the upstream drivers are merged now (yay) ...

I'm unsure whether to use stable or beta, because from pecl a non-stable install is a bit awkward for most ... but still down to you ...

[2019-01-30 12:44] remicollet commented on #4
So, going to 1.0.0 stable, as used by new PHPUnit

Will start to work on it shorlty

[2019-01-30 13:19] krakjoe commented on #4
Excellent.

[2019-01-30 13:29] remicollet commented on #4
Released

[2019-01-30 13:29] #4 closed, assigned to remicollet

[2019-01-30 13:59] krakjoe commented on #4
Excellent, looking good thanks @remicollet

[2019-02-05 06:12] andreasschroth opened #6 "Add installation instructions to README"
I think you should add installation instructions to the README.

Not everyone might be aware that it's a PECL package that can easily be installed with `pecl install`.
I think for wider adoption proper installation instructions are important.

PS: Thank you for the package! Keep up the good work. 👍

[2019-02-05 06:15] krakjoe commented on #6
Thanks for taking the time to open an issue :)

@remicollet can you add the normal install bits to the readme please ...

[2019-02-05 07:32] #6 closed, assigned to remicollet

[2019-03-25 06:36] krakjoe opened #9 "Release v1.0.1"
Changelog:

  - Release memory from building CFG as early as possible
  - Compat with 7.4/8.0 changes

At the moment, the PHP builds on travis are out of date, so I'm not sure if it's a good idea to push this release out right now ? I opened a ticket/started a thread [here](https://travis-ci.community/t/7-4snapshot-and-nightly-out-of-date/2780) to have this resolved.

[2019-03-25 07:33] remicollet commented on #9
Working on it

[2019-03-25 09:55] remicollet commented on #9
Usual local QA build done

* Fedora 27-30, RHEL 6-8
* PHP versions 7.1, 7.2, 7.3
* i386, x86_64
* NTS, ZTS

Fedora official build OK (aarch64, i686, ppc64le, x86_64, armv7hl and s390x)
https://koji.fedoraproject.org/koji/taskinfo?taskID=33759286

(waiting for Windows build)

[2019-03-25 09:56] krakjoe commented on #9
Thanks @remicollet :)

[2019-03-25 10:25] krakjoe commented on #9
Windows builds just completed ... closing ... thanks again :)

[2019-03-25 10:25] #9 closed, assigned to remicollet

[2019-03-30 00:17] lyrixx opened #10 "First request display all information, nexts don't"
Hello.

First, thanks a lot for this lib :D

Then, I would like to try few things with this lib (more to come) but I'm facing something strange. So I would like to know if this "normal".

I installed the lib as described in the `INSTALL.md` (BTW you don't tell about loading the extension in the `php.ini` or with something like `-dextension=/home/gregoire/dev/labs/candle/pcov/modules/pcov.so`).

Af

[2019-03-30 00:40] krakjoe commented on #10
Above commit should fix it, can you please confirm ?

[2019-03-30 14:21] lyrixx commented on #10
Yes, Thank you :+1:

[2019-03-30 14:21] #10 closed, assigned to nobody

[2019-03-30 20:37] krakjoe opened #11 "Release 1.0.2"
- Fix #10 second non-cli SAPI request behaves strangely

Just this ... thanks @remicollet

[2019-03-31 16:03] remicollet commented on #11
I'm on it

[2019-03-31 16:34] remicollet commented on #11
Released on pecl.

[2019-03-31 16:34] #11 closed, assigned to remicollet

[2019-03-31 16:43] krakjoe commented on #11
Thanks @remicollet

[2019-04-24 13:03] bolmstedt opened #12 "Issue with faulty line coverage"
Hi, I noticed something strange when running PHPUnit in a new repository, I got reports that tests were risky because they executed methods that they in reality didn't, because of me using `beStrictAboutCoversAnnotation`.

When I ran it multiple times, it displayed different methods not being covered by `@covers` annotations as a result of PHPUnit triggering the tests that were reported risky firs

[2019-04-26 09:45] ohnotnow opened #13 "'No code coverage driver available' although php reports pcov enabled"
Hi,

It's very, very likely I'm doing something wrong - so apologies in advance!  I've installed the extension using pecl and added an ini entry with `pcov.enabled = 1` just to be sure.  When I run phpunit I get the above exception message back from the code coverage driver though.  Things _look_ ok to me :

[code]

[2019-04-26 11:31] lukas9393 commented on #13
Try to set up 'DRIVER=pcov' as an Environment Variable and then start  phpunit.

https://github.com/lukas9393/dockerfiles/blob/master/laravel-phpunit-pcov/Dockerfile

[2019-04-26 12:17] ohnotnow commented on #13
Thanks for the reply - sadly it didn't make a difference though.

[code]

[2019-04-26 12:20] krakjoe commented on #13
pcov requires phpunit 8

On Fri, 26 Apr 2019, 14:17 ohnotnow, <notifications@github.com> wrote:

[2019-04-26 12:32] ohnotnow commented on #13
Oh, ffs! Now I remember thinking a few weeks ago 'Well, I'll hold off trying pcov for a bit' after reading that.  Riiiiight up until today when I thought 'heh - it's Friday, I'll try that pcov thing!'.

Sorry - Friday brain fade!

[2019-04-26 12:32] #13 closed, assigned to nobody

[2019-05-05 08:16] shanliu opened #14 "phpunit8 not wroking..."
test code:https://github.com/shanliu/tmp_test
xdebug ouput:(success)
PHPUnit 8.0.6 by Sebastian Bergmann and contributors.

.. 2 / 2 (100%)

Time: 149 ms, Memory: 6.00 MB

OK (2 tests, 2 assertions)

Code Coverage Report:
2019-05-05 07:50:41

Summary:
Classes: 100.00% (1/1)
Methods: 100.00% (2/2)
Lines: 100.00% (4/4)

Mycode
Methods: 100.00% ( 2/ 2) Lines: 100.00% ( 4/ 4)
PCOV output:(fail)
PHPUni

[2019-05-05 08:46] krakjoe commented on #14
That will be a path problem, you are running tests in the tests directory I assume, and since it has a src directory, pcov chooses that as the path to collect for ... it expects to be run from the root directory of the project, or have path (pcov.directory) set correctly.

[2019-05-05 08:46] #14 closed, assigned to nobody

[2019-05-05 09:21] krakjoe opened #15 "Release 1.0.3"
Hi @remicollet, could you push out a bug fix release please :) #12

/cc @sebastianbergmann

[2019-05-05 09:21] #12 closed, assigned to krakjoe

[2019-05-05 09:24] krakjoe commented on #12
That's a really horrible bug ... thanks for the report ...

The notification for this was lost among a sea of emails, until 20 minutes ago (I just happened to notice this on github somehow) ... sorry about the delay ...

[2019-05-06 06:51] remicollet commented on #15
Version 1.0.3 is released, and build OK.

[2019-05-06 06:51] #15 closed, assigned to remicollet

[2019-05-06 07:08] krakjoe commented on #15
Thanks muchly :)

[2019-05-29 06:07] sebastianbergmann opened #16 "Code that is not executed is reported as being executed"
When I run the tests for the [diff](https://github.com/sebastianbergmann/diff) test suite with code coverage reporting based on PCOV then I get two tests marked as risky:

[code]

These tests are not marked as risky when code coverage is reported using Xdebug or PHPDBG.

When I add an `exit` statement to the constructor of `Chunk` like so
[code]
and run the `testArrayRepresentationOfDiffCanBeRende

[2019-05-29 06:37] krakjoe commented on #16
Are you using the latest release of pcov ?

[2019-05-29 06:40] sebastianbergmann commented on #16
Sorry: this is with PHP 7.3.6 and PCOV 1.0.3.

[2019-05-29 06:45] krakjoe commented on #16
[code]

Can you tell me any more about your setup, opcache settings maybe ?

I don't think opcache should make any difference, and this looks exactly like #12 which was fixed in 1.0.3 ...

It's definitely of the same nature as #12, it must be the case that some array is not dup'd, there's no way for pcov to include a line that wasn't executed, it can't happen, but #12 showed that the way it report

[2019-05-29 06:47] sebastianbergmann commented on #16
`vendor/bin/phpunit` does not generate code coverage. Have you tried `vendor/bin/phpunit --coverage-html /tmp/coverage`?

[2019-05-29 06:48] krakjoe commented on #16
I can reproduce it ...

[2019-05-29 06:51] sebastianbergmann commented on #16
"Good" :)

[2019-05-29 09:56] krakjoe commented on #16
Fixed in sebastianbergmann/php-code-coverage#682

[2019-05-29 09:56] #16 closed, assigned to nobody

[2019-06-02 14:49] kubawerlos opened #17 "Lines not covered when more tests are run"
Hello,

I've spot an issue that some lines are not covered when tests are run together with other ones.

Easiest way to reproduce is to clone this repository: `git clone git@github.com:kubawerlos/php-cs-fixer-custom-fixers.git`.

When running `vendor/bin/phpunit tests/Fixer` all fixers get covered, which is expected.

But when running `vendor/bin/phpunit tests` some fixers don't get covered fully

[2019-06-02 15:35] krakjoe commented on #17
You seem to have a non-standard directory setup ...

[code]

That's likely what you are looking for ...

[2019-06-02 15:47] kubawerlos commented on #17
What do you mean by "non-standard"? The `src-dev` directory? I have removed it and all references to it and still facing the issue. It was all fine a month ago -> https://coveralls.io/builds/23169688 (AFAIR it was PCOV v1.0.2 then).

However, your suggestion fixes it, thanks :+1:

[2019-06-02 16:12] krakjoe commented on #17
It looks like you're a victim of the last bug in the PHP part of the
driver, which did not clear data appropriately, it just so happens you got
expected results by accident. If you look carefully at those old results
you will probably find anomolies like lines reported as covered by tests
that did not execute those lines.

On Sun, 2 Jun 2019, 17:47 Kuba Werłos, <notifications@github.com> wrote:

[2019-06-02 17:02] kubawerlos commented on #17
Doesn't seems so - there are tests that covers lines that are problematic right now - e.g. https://github.com/kubawerlos/php-cs-fixer-custom-fixers/blob/master/tests/Fixer/InternalClassCasingFixerTest.php#L19 - and as I mentioned, when running only tests from subdirectory `tests/Fixer` all is covered fine.

[2019-06-02 17:47] krakjoe commented on #17
You're quite right, something doesn't look right ... (I'm at my keyboard properly now, looking) ...

[2019-06-02 18:13] krakjoe commented on #17
Can you please try the tip of develop (currently 1.1.0-dev) and patch vendor/phpunit/php-code-coverage/src/Driver/PCOV.php with this stop method:

[code]

I believe this produces correct results ?

[2019-06-02 19:13] kubawerlos commented on #17
Yes, it looks so, thanks for a help!

PR: https://github.com/kubawerlos/php-cs-fixer-custom-fixers/pull/98/files
Build: https://travis-ci.org/kubawerlos/php-cs-fixer-custom-fixers/jobs/540456641

[2019-06-02 19:14] kubawerlos commented on #17
Yes, it looks so, thanks for a help!

PR: https://github.com/kubawerlos/php-cs-fixer-custom-fixers/pull/98/files
Build: https://travis-ci.org/kubawerlos/php-cs-fixer-custom-fixers/jobs/540456641

[2019-06-02 19:14] #17 closed, assigned to nobody

[2019-06-02 19:17] krakjoe commented on #17
I managed to go one better, you no longer need to patch the PHP driver, just update pcov ... 1.0.4-dev (managed to not break compat, so don't need to bump to 1.1) ...

[2019-06-02 19:20] krakjoe commented on #17
Sorry about all the mess ...

[2019-06-02 19:22] krakjoe opened #18 "Release v1.0.4"
- Fix #17 Lines not covered when more tests are run
 - Improve perf of clear routine
 - Merge upstream cfg updates (switch block change)
 - Omit ignored opcodes from internal coverage data completely (doesn't effect users, except less memory used)

over to you @remicollet, thanks :)

[2019-06-02 19:32] kubawerlos commented on #17
No need to, thanks for the very quick fix :+1:

[2019-06-02 19:37] krakjoe commented on #17
Very welcome.

[2019-06-03 04:49] remicollet commented on #18
Travis is green
Local QA builds are OK

Tagged and released and announced

[2019-06-03 04:49] #18 closed, assigned to remicollet

[2019-06-03 05:32] krakjoe commented on #18
Thanks @remicollet

[2019-06-03 05:54] krakjoe commented on #18
@sebastianbergmann in case you missed it ...

[2019-06-05 08:22] BafS commented on #18
Hi, thanks a lot for your hard work, PCOV is fantastic.
Unfortunately with the last version (1.0.4) I have segmentation fault in my phpunit test (`489 Segmentation fault      (core dumped)`). The bug appear on gitlab CI (phpunit 8, php 7.2) but I'm not able to reproduce locally (I have the same docker image, I'm not sure why I can't reproduce), reverting to PCOV 1.0.3 works. I will let you know if

[2019-06-10 21:04] LeSuisse opened #19 "Behaviour change with PHP7.2/PCOV1.0.4"
Hi,

I seem to encounter an issue when using PCOV 1.0.4 with PHP 7.2 (CentOS 7 env with packages from Remi repository):
[code]

The same tests run fine when using PHP 7.2/PCOV1.0.3 or PHP 7.3/PCOV1.0.4.

The issue seems to be caused by the usage of the PHPUnit feature `@runInSeparateProcess` in the next test the testsuite is supposed to execute (https://github.com/Enalean/tuleap/blob/d03d01a756169

[2019-06-10 22:09] krakjoe commented on #19
Try tip of develop please ?

[2019-06-10 22:46] krakjoe opened #20 "Release v1.0.5"
- Fix #19 fault in 7.2 caused by modification of filename pointer

Waiting for feedback in #19, when that's closed, ready to go ...

Thanks @remicollet

[2019-06-10 22:49] krakjoe opened #21 "Tests"
Writing phpt tests for pcov is extremely unappealing, and php-code-coverage has a test suite ... need to figure out a way to run the tests in php-code-coverage on CI builds ...

[2019-06-10 23:09] krakjoe commented on #21
Done, it means ditching 7.1 from (travis) CI (still running 7.1 on av) ... although support is not removed in source code ... 7.1 is not long for this world anyway ...

[2019-06-10 23:09] #21 closed, assigned to nobody

[2019-06-11 05:12] LeSuisse commented on #19
I confirm it now works as expected, thanks!

https://travis-ci.com/LeSuisse/issue-php72-pcov104/builds/115033178

[2019-06-11 05:12] #19 closed, assigned to nobody

[2019-06-11 05:41] krakjoe commented on #20
We're good ... over to you remi ...

[2019-06-11 06:19] remicollet commented on #20
Travis is green
Local QA builds are OK

Tagged released and announced

[2019-06-11 06:19] #20 closed, assigned to remicollet

[2019-06-11 06:28] krakjoe commented on #20
Thanks muchly :)

[2019-06-11 17:42] muglug opened #22 "Undefined variable: argv when running"
Running PHPUnit on https://github.com/vimeo/psalm I get

[code]

It works just fine without `pcov` enabled. Unsure how to proceed.

[code]

in my php.ini (but setting it to `On` doesn't help either).

[2019-06-11 18:43] krakjoe commented on #22
[code]

Not a bug in pcov, and I can't find out what is outputting that extremely useless warning ...

@sebastianbergmann what's going on ?

[2019-06-11 18:47] krakjoe commented on #22
Note worthy, this is a bug that has been introduced since I first developed this code, I know this because psalm is one of the repositories I tested against when developing the code, I've seen it run these tests hundreds and hundreds of time ...

[2019-06-11 18:56] krakjoe commented on #22
At src/psalm-refactor.php line 19 argv is actually null ...

[2019-06-11 19:10] krakjoe commented on #22
Trace:

[code]

[2019-06-11 19:13] krakjoe commented on #22
This will have to be reported upstream, there's nothing I can do about it since it's not pcov causing the bug ...

[2019-06-11 19:13] #22 closed, assigned to nobody

[2019-06-11 19:30] muglug commented on #22
Sorry for wasting your time - fixed in https://github.com/vimeo/psalm/commit/6fa8b986ccbe4a261321e800856f0a575b71ded7

[2019-06-11 19:44] krakjoe commented on #22
Ah, I'm very glad you figured it out, I was still picking psalm apart ...

FWIW, I remember that sebastian had some issues surrounding $argv in phpunit, I can't remember the exact nature of it, but it was solved by using `$_SERVER["argv"]` in it's place, which doe not rely on ini settings ... if you dig through commit logs, you might find some useful information that applies to your use of argv, e

[2019-06-12 05:36] BafS commented on #18
Update: PCOV 1.0.5 fixed the issue, thanks

[2019-06-12 05:49] krakjoe commented on #18
I thought it might, thanks for update.

Cheers
Joe

On Wed, 12 Jun 2019, 07:36 Fabien Salathe, <notifications@github.com> wrote:

[2019-06-12 19:44] krakjoe opened #23 "Release 1.0.6"
Hi @remicollet, this is just to fix compat with 7.4.0alpha1 ...

I'm not sure when it's best to make this release, same as parallel, if you think it's worth delaying until alpha2, that's cool with me, do what you think is best ...

[2019-06-13 08:54] remicollet commented on #23
Local QA builds are OK

Tagged, released and announced

[2019-06-13 08:54] #23 closed, assigned to remicollet

[2019-06-13 11:35] krakjoe commented on #23
Thanks @remicollet

[2019-07-23 16:12] dac514 opened #25 "Request: Support PHPUnit 7 because... WordPress."
WordPress doesn't support PHPUnit 8, yet:

+ https://core.trac.wordpress.org/ticket/46149

Travis.CI started giving us out of memory errors.

+ [First with xdebug in June 2016](http://kizu514.com/blog/phpdbg-is-much-faster-than-xdebug-for-code-coverage/)
+ [Today with phpdbg](https://github.com/pressbooks/pressbooks/issues/1745).
+ I'm stuck until I can try pcov

Did I mention WordPress.

Help? 😢

[2019-07-30 08:12] rask commented on #25
This is mostly PHPUnit and php-code-coverage related, not PCOV, as they decide what coverage driver to load. PCOV support appeared in PHPUnit 8 as the php-code-coverage dependency introduced PCOV driver support in that release (php-code-coverage 7.x I think?).

The sanest approach would be to pester WordPress core developers to upgrade to PHPUnit 8, but I do understand that it would probably take

[2019-07-30 20:26] michaelbutler commented on #25
Not sure why it is not mentioned in this project's README.md (maybe it should?) but there is a workaround for this... krakjoe created [pcov/clobber](https://github.com/krakjoe/pcov-clobber) as a small composer package that can be used to live patch PHPUnit 7 code to support pcov.

As a build prestep you could install clobber, run it on your project's root workspace, then run your test suite with p

[2019-07-31 06:40] rask commented on #25
@michaelbutler did not know about this, need to check it out. Thanks!

[2019-07-31 06:45] krakjoe commented on #25
clobber is not mentioned in the readme because I would prefer if people just do the upgrade, clobber is not an elegant tool, it's a get-the-job-done tool that's fine to use temporarily, but I don't intend to maintain it into the future and it can't be considered a legitimate method of deploying pcov.

I totally get that it's not possible to "just do the upgrade", which is why clobber exists in the

[2019-07-31 06:45] #25 closed, assigned to nobody

[2019-08-06 02:37] deyvisonrocha commented on #17
@krakjoe Can you get folders to coverage from the `phpunit.xml`?

[2019-08-19 13:51] Slamdunk opened #27 "[WIP] Lines marked as red or white but never green"
Hi, I'm having issues on how PCOV reports some lines.

This is a WIP since I know all the following details still aren't enough for you to help me, I need to dig deeper and isolate better where the problem lies, but still I prefer to open an Issue now, maybe you can help me find it.

### Env details

1. Codeception 3.0
1. PHPUnit 8.3.3
1. php-code-coverage 7.0.7
1. PHP 7.3.8
1. PCOV 1.0.6
1. OS: D

[2019-08-20 09:30] Slamdunk commented on #27
I've been able to pack a self contained repository with all the stuff needed to reproduce the bug:

https://github.com/Slamdunk/pcov-bug

I would expect that for a trivial class like [Repository's MyApp](https://github.com/Slamdunk/pcov-bug/blob/master/app/MyApp.php) the lines reported would be always the same.

I've run the tests with xDebug too, and for one suite PCOV report **differs**.

I'll c

[2019-08-20 09:53] krakjoe commented on #27
Sorry, I don't see the error, having reviewed that repository ...

Please try to distil your thoughts further, I'm really failing to understand the problem at this point ...

Simply the fact that pcov and xdebug differ doesn't make pcov wrong ... the reflection class constructor doesn't invoke any code, it just looks up the class and provides a reflector, xdebug takes special action to mark some l

[2019-08-20 10:06] Slamdunk commented on #27
I'm sorry if I captured your attention before a formed thought; I have zero experience in C and Zend Engine, and this issue involves such a big amount of code that inspecting it is overwhelming.
I would like to ask you few question that will help me inspecting this.

Take the following code:
[code]

1. Is it true to expect that, given a fixed PHP version, a fixed CC driver and a fixed environment,

[2019-08-20 11:56] Slamdunk commented on #27
Oh, just found out the solution, `processUncoveredFilesFromWhitelist="true"` isn't handled correctly by PHPunit with `@coversNothing` annotation. I'll open an issue/pr on that repository.

https://phpunit.readthedocs.io/en/8.3/code-coverage-analysis.html#whitelisting-files

Thank you for your patience :pray:

[2019-08-20 11:56] #27 closed, assigned to nobody

[2019-08-20 12:34] Slamdunk commented on #27
Ref: https://github.com/sebastianbergmann/phpunit/issues/3796

[2019-08-20 14:21] SamMousa opened #28 "Built-in server source discovery"
In the codeception test suite the built-in server is used to test getting remote coverage.
While trying to switch over to pcov I discovered that pcov does not take into account the root directory passed into php via `-t`.

In my opinion it makes more sense to, in this case, default to the webroot than to the calling directory.
The 3 invocations below should result in the same coverage being shown.

[2019-08-21 05:30] krakjoe commented on #28
This has to be considered a configuration issue on the codeception side. The SAPI doesn't provide a standard way to get the docroot from any SAPI, and in the specific case of the cli-server, the struct that contains the document root is private and there is no way to access it.

I have added the detected directory to phpinfo() output, so that no longer displays the very unhelpful "auto".

[2019-08-21 05:30] #28 closed, assigned to nobody

[2019-08-27 11:40] rask opened #29 "pcov.enabled=1 does not enable PCOV"
I'm having trouble enabling PCOV via INI.

In php.ini, I have set `pcov.enabled=1`. When I run PHPUnit, I get an error that no code coverage driver is available, and `php -m` reports that PCOV is loaded. but `php --ri pcov` says `PCOV support => Disabled`.

The configuration file is loaded and parsed correctly though, as if I set `extension=pcov.so` PHP will warn about the extension already being

[2019-08-28 11:56] rask commented on #29
Okay this was some other mystery issue in my interpreter config loading, seems to work now. Sorry for the noise.

[2019-08-28 11:56] #29 closed, assigned to nobody

[2019-09-29 18:24] kubawerlos opened #31 "Problem with whitelist and directories"
I've created  [this](https://github.com/kubawerlos/pcov-bug) repo (2 dummy classes, 100% code coverage expected).

Simple structure:
[code]

Whitelist:
[code]

On `master` branch [this](https://travis-ci.com/kubawerlos/pcov-bug/builds/129602575) build reports for xdebug and phpdbg 100% coverage (which is correct) and for pcov 50% (one class instead of two).

When I [rename](https://github.com/kuba

[2019-10-08 09:22] mtorromeo commented on #31
I've had this same issue and it is indeed related to `pcov.directory`.
The problem is described in the README under the NOTES section:

So if you do not set `pcov.directory` and one of src, lib or app is found, no other directory is considered.

[2019-10-08 11:41] pvsaintpe opened #32 "Problem with installation PCOV on php 7.3.8"
git clone ....
git checkout release (not develop)

[code]

[code]

OS: MacOS Catalina (official release) 10.15
PEAR Version: 1.10.9
PHP Version: 7.3.8
Zend Engine Version: 3.3.8

Installation via pecl also got errors.

What am I doing wrong?

[2019-10-08 11:46] remicollet commented on #32
Answer in error message.
Missing PHP development  headers.

[2019-10-08 13:24] pvsaintpe commented on #32
it’s all good, but I’m doing everything on the guide and can’t install PCOV.

I already have php 7.3.8 installed. What other headers are we talking about? command "make" doesn't work.

[2019-10-08 13:32] pvsaintpe commented on #32
What should I do to get these headers?

[2019-10-08 13:54] remicollet commented on #32
I know nothing about MacOS, and nothing about how you install PHP.

From sources, headers should be there and properly installed (/usr/include/php/...)

By distro packages, you usually have some php-devel, php7-devel, ... package which provide these headers

[2019-10-08 14:10] kubawerlos commented on #31
My conclusion after some checking is that `pcov.directory` is used as path prefix, not directory.

[2019-10-08 14:10] #31 closed, assigned to nobody

[2019-10-08 18:49] pvsaintpe commented on #32
sudo pecl install pcov
[code]

[2019-10-08 18:51] pvsaintpe commented on #32
Full log

[code]

[2019-10-09 11:50] krakjoe commented on #32
This is not a pcov specific problem but rather a build problem with extensions in general on mac where there is a brew installed and system installed version of PHP.

Suggest you ask a question on stackoverflow.

[2019-10-09 11:50] #32 closed, assigned to nobody

[2019-10-16 09:02] afbora opened #34 "Issue about whitelist/multiple directory coverage zero"
Coverage always `0.00%` files for `./config` directory even if `dpcov.directory` option used

This is a bug or am i missing something? 🤔

**.travis.yml**

[code]

Also tried

[code]

**phpunit.xml.dist**

[code]

[2019-10-16 10:26] afbora commented on #34
Solved with following command:

[code]

[2019-10-16 10:26] #34 closed, assigned to nobody

[2019-10-21 18:53] andreybolonin commented on #32
@krakjoe any ideas how to install on mac and php 7.3?

[2019-10-21 18:54] andreybolonin commented on #32
@pvsaintpe how you install with pecl?
I have this error:

<img width="439" alt="Screen Shot 2019-10-21 at 9 53 39 PM" src="https://user-images.githubusercontent.com/2576509/67234153-48a5df00-f44d-11e9-9e04-1e43888c6eae.png">

[2019-10-30 01:58] ktamas77 opened #35 "pcov.exclude syntax"
since there are no official examples, i'd like to confirm, would this be a valid syntax to define excluded folders in `php.ini`?

[code]

[2019-10-30 02:33] ktamas77 commented on #35
also is there a chance to specify multiple directories for the `pcov.directory` configuration item? it would be amazing if we could provide a semicolon separated list or something like that, instead of a single directory. for some legacy projects it's easier to define the 1-2 folders which needs to be covered than to exclude everything else.

[2019-11-08 14:29] swashata commented on #34
Thank you @afbora, you are a life saver... I guess that `-dpcov.directory=.` is the one?

---

EDIT: I can see that we have to enabled pcov by `pcov.enabled=1` and also mention current directory for coverage by `pcov.directory=.`. So both these options are mandatory (unless of course set in php.ini file).

[2019-11-11 10:29] tomasfejfar opened #36 "Relative paths in clover file"
When running pcov in docker it outputs the docker absolute paths in clover file. But when I want to use them in PhpStorm to show coverage, it obviously does not work, because the absolute paths are not available. Would it be possible to resolve the absolute paths relative to the current working directory?

[2019-11-11 10:32] tomasfejfar commented on #36
Oh, I replaced the paths to relative manually, but that did not help. I'll investigate further.

[2019-11-11 11:16] krakjoe commented on #36
This sounds like an issue you want to report to the php-code-coverage repo, pcov is not responsible for this output.

[2019-11-11 11:16] #36 closed, assigned to nobody

[2019-11-11 13:04] tomasfejfar commented on #36
You're right! Sorry!

[2019-11-14 09:09] dmlogic opened #37 "pcov not reporting on ./tests directory"
Not sure if this is the best place to ask but...

I'm looking to move my PHPUnit coverage reports to pcov from phpdbg to get around some issue with the latter not covering `case` statements.

When using xdebug or phpdbg I get 100% coverage on both my `src` and `tests` folders. When I use pcov I get 0% for tests.

My phpunit.xml file contains:

[code]

tests in all cases are run with `./vendor/bin/

[2019-11-14 09:46] krakjoe commented on #37
You need to set pcov.directory (probably to the current working directory by the sound of it).

[2019-11-14 09:46] #37 closed, assigned to nobody

[2019-11-15 07:01] dmlogic commented on #37
yep. For anyone else, the solution for the above phpunit.xml is:

`php -d extension=pcov.so -d pcov.enabled=1 -d pcov.directory=./ ./vendor/bin/phpunit`

[2019-11-19 14:41] Hell4Ge commented on #35
I am wondering the same thing, I have to exclude two directories from coverage

[2019-11-19 20:41] rask commented on #35
From the looks of it, `exclude` should accept any PCRE compliant regex, just as with the PHP PCRE (`preg_*`) functions. See https://github.com/krakjoe/pcov/blob/develop/pcov.c#L392 and https://github.com/krakjoe/pcov/blob/develop/pcov.c#L128

Edit: I mean you can use the same style of pattern matching as you would with `preg_match` in PHP.

[2019-11-24 07:39] hgpull opened #38 "PCOV doesn't work with paratest?"
I can’t understand if my configuration error or if pcov cannot be started with paratest.
I execute the command:

` /usr/bin/php -d memory_limit=2G -d pcov.enabled=1 -d pcov.directory=/srv/http/api.zp.ru/scripts/Job /srv/http/api.zp.ru/vendor/bin/phpunit -c /srv/http/api.zp.ru/tests/functional/phpunit.xml --coverage-text /srv/http/api.zp.ru/tests/functional/scripts/Job/Users`

and get result

so, w

[2019-11-25 11:43] rask commented on #38
I think paratest has a `--passthru` command argument that allows you to pass through the PHP INI config that sets up PCOV. Paratest spawns new PHP processes by itself so you need to instruct the INI configs differently.

[2019-11-28 12:53] Devristo opened #40 "Occassional segmentation fault on PHP 7.4.0"
First of all: Thanks a lot for this amazing project. It really saves time and headaches!

In my brand new PCOV 1.0.6 / Symfony 4.4.0 / Behat 3.5 setup I occassionally run into a segfault that mentions pcov.  See the coredump and the backtrace below.

Unfortunately I am not able to trigger it with a small reproducer.

Is this something that can be caused by userland? Or is it perhaps a small bug in

[2019-12-03 03:40] krakjoe commented on #40
The trace terminates deep within code that is copied from opcache, so that's pretty strange behaviour.

I'm afraid I can't investigate without a reproducing test case.

[2019-12-03 03:40] krakjoe commented on #38
This is outside the scope of issues (for this project, try paratest).

[2019-12-03 03:40] #38 closed, assigned to nobody

[2019-12-03 07:46] Devristo commented on #40
I was afraid of that. So far I am unsuccessful in creating a small reproducer. But will give it another go and will let you know.

[2019-12-09 05:36] krakjoe commented on #40
Reading the thread on the symfony issue leads me to conclude that this is a bug in PHP, not pcov.

[2019-12-09 05:36] #40 closed, assigned to nobody

[2019-12-10 17:19] Devristo commented on #40
:+1:  I tend to agree, since I haven't seen the segfault after some patches by the Symfony team.

[2019-12-12 01:27] BHSPitMonkey commented on #17
I think something is still off here, and possibly related to #31 and #38 (my experience lines up with all of these issues). I have a `<filter><whitelist>` defined in `phpunit.xml` with some `<directory>` nodes and an `<exclude>` node, and those get processed and sent to the pcov driver by phpunit via sebastianbergmann/php-code-coverage. After executing a simple test (using either `phpunit` or `par

[2019-12-12 03:57] krakjoe commented on #17
To clarify, php-code-coverage doesn't "send" or pass anything from phpunit configuration to pcov. pcov must be configured properly with pcov.directory.

[2019-12-12 04:36] BHSPitMonkey commented on #17
Right you are... I came to that realization after some additional digging.

It really seems like there needs to be a runtime way to set the "directory"
root instead of exclusively through ini, since the current scheme gives
php-code-coverage no way of knowing that parts of its whitelist will not be
getting tracked in pcov due to its "magic" approach of deciding on a scope
automatically. To make th

[2019-12-19 09:39] ext-pewa opened #42 "Empty results"
Tests run and report is generated as normal, however, the coverage report shows 0% all the way through.

If I run the same config using phpdbg or Xdebug, it takes a lot longer, but it yields correct results.

I suspect it may be related to processIsolation? Here is my config

[code]

[2019-12-19 13:05] fezfez commented on #42
please send your `composer show`

[2019-12-19 13:09] ext-pewa commented on #42
[code]

[2020-01-06 21:10] tomreece opened #43 ".cov files are generated but are essentially empty"
I am trying to run pcov in a Jenkins CI/CD environment.

I think I have everything wired up correctly because I am seeing that .cov files are generated as expected.

However, these generated files contain no coverage data. They all look like this:

[code]

Notice `setData()` and `setTests()` are being passed an empty array, so therefore the coverage report is empty.

Does anyone have any ideas of

[2020-01-07 22:05] tomreece commented on #43
I solved my issue! Thanks anyway!

I was relying on `pcov.directory` to be auto-detected but it wasn't.

Fixed by setting `pcov.directory` in my `php.ini` file.

[2020-01-07 22:05] #43 closed, assigned to nobody

[2020-02-07 16:37] jeff1326 commented on #42
I have the same problem, here my `composer show` if you want to do a correlation

[2020-02-12 19:36] jeff1326 commented on #42
I created a ticket on https://github.com/sebastianbergmann/php-code-coverage/issues/729 related to this issue since i don't know which one is in problem.

[2020-02-12 21:10] kubawerlos commented on #42
I had a very similar issue (coverage working with `xdebug` and `phpdbg`, but not with `pcov`) and it was due to the `pcov.directory` config option.

As in README.md:

When I've set it to `.` (e.g. [here](https://github.com/kubawerlos/php-cs-fixer-custom-fixers/blob/v1.17.0/.travis.yml#L48)) all started to work as expected.

[2020-02-12 21:47] jeff1326 commented on #42
Thanks you @kubawerlos

I can make it work with `php -d pcov.directory=. ./vendor/bin/phpunit --coverage-html=coverage` but this doesn't work with `phpunit -d pcov.directory=. --coverage-html=coverage`

This is related to : https://github.com/krakjoe/pcov/issues/31

[2020-02-13 05:13] sebastianbergmann commented on #42
`phpunit -d` cannot possibly work here and that is expected.

[2020-02-13 08:10] ext-pewa commented on #42
This did not solve my issue :(

[2020-02-13 08:27] rask commented on #42
@ext-pewa you're certain PCOV is loaded (and Xdebug is disabled) when running the tests?

[2020-02-13 09:21] ext-pewa commented on #42
yes, however, I just ran it through step by step, and noticed that I was in the wrong directory, so adding an absolute path to pcov.directory seems to have resolved the issue! Thanks :)

Looking at the docs, it seems this is expected, though I think it could be improved so that pcov and phpunit used the same logic to find files. The most confusing part here is the absence of any errors, and the ap

[2020-02-13 09:21] #42 closed, assigned to nobody

[2020-02-18 22:10] slavcodev opened #44 "Could you explain how PCOV calculates coverage"
Hello.

We have a big discrepancies in code coverage using xDebug and PCOV in our project. For example there is 15% difference for covered lines.

There is a small part of README describes the difference, but I'm not 100% clear on that.

Рere on this example

![image](https://user-images.githubusercontent.com/757721/74781702-43915900-52a2-11ea-96a8-5be94ff422a2.png)

I'm confused that lines 90 and

[2020-02-19 02:30] krakjoe commented on #44
In general:

PCOV and Opcache share the same control flow graph, Xdebug builds it's own.

PCOV will mark executed what is executable and actually executed at runtime (the VM is travelling opcodes on that specific line).

Both Xdebug and PCOV have to make certain decisions about what to include in a report, Xdebug has to do so in light of its long history and PCOV has to do so in light of the futur

[2020-02-19 02:30] #44 closed, assigned to nobody

[2020-02-19 18:07] cugrif opened #45 "Memory usage with php7.4"
Hi

I want to use pcov with php7.4 but i saw that memory usage increased

tests with php7.3
551.00 MB

tests with php7.4
more than 1gb

Do you have any idea how to reduce used memory?

Best regards

[2020-02-21 10:43] mikey179 opened #46 "Segmentation fault on 7.4 on macOS with anonymous class"
On PHP 7.4 (tested with 7.4.2 and 7.4.3) on macOS collecting code coverage for code that contains an anonymous class segfaults. The same code on Linux doesn't have any problems.

Test script:
[code]

Expected result (at least that's what one receives with PHP 7.3):
[code]

Actual result:
[code]

[2020-02-21 11:31] krakjoe commented on #46
I'm not able to reproduce with your simple test case, nor your real test suite ...

[code]

Could you please be the detective and try with and without opcache, and unload all unnecessary extensions and then give me some feedback about the bare minimum setup that seems to break ?

[2020-02-21 15:07] mikey179 commented on #46
I'm sorry, one important piece of information is missing, my bad: this happens on macOS only. I just tried to run this with pcov 1.0.7-dev, on macOS I get the error with a segfault. The same code on Linux with the same versions and everything works as expected. I'll try to narrow it down more in regards to the extensions and opcache.

[2020-02-21 15:33] mikey179 commented on #46
Tried the least possible PHP installation:
[code]

Still getting the segfault with my reproduce script:
[code]

If there's anything more I can do to help please let me know.

[2020-02-21 23:12] mikey179 commented on #46
I found a crash report, here's an excerpt of what looks like a trace to me:
[code]

[2020-04-06 15:22] lyrixx opened #48 "Wrong coverage report"
Hello, I created a full reproducer [here](https://github.com/lyrixx/test/tree/phpunit).
I made it as small as possible. I hope it will help you.

But basically, The faulty code:

[code]

When I execute:
[code]

It get the following report:

[code]

![image](https://user-images.githubusercontent.com/408368/78574794-cfe3e500-782a-11ea-80ef-3c4370626410.png)

This is not possible to go through line 1

[2020-04-28 10:12] miceno commented on #17
@BHSPitMonkey I agree with you, I expend two days testing `pcov` with no coverage results due to this issue... I finally found the description here and figured it out to use `-dpcov.directory`.

[2020-05-07 09:13] HenkPoley opened #49 "It would be nice if pcov and phpunit's php-code-coverage communicated over directory filtering"
With the default setting of _not_ setting `pcov.directory`, pcov will latch onto either `./src`, `./lib` or, `./app`. Leaving the end user confused why adding extra directories in `phpunit.xml` doesn't do anything:

https://github.com/sebastianbergmann/php-code-coverage/issues/741

It would be _nice_ if in some way, the directories whitelisted in `phpunit.xml` or `--whitelist <dir>` would change a

[2020-05-08 16:07] trip-somers commented on #17
Is it possible to run coverage on two folders? I basically have two `/app` folders -- one is legacy, and one is modern -- and it looks like the only alternative I have is to set directory to `.` and then exclude everything except those two folders. Is that really what I'd have to do?

EDIT: It looks like this works fine after just setting it to `.`. From there, it appears that the <filter><whiteli

[2020-05-12 22:04] 5lava commented on #48
(Un)fortunately, It's not PCOV to blame. I observe the same behavior with Xdebug and phpdbg. In fact, I tried a dozen version combinations of PHP, PHPUnit, php-code-coverage, and Xdebug/PCOV/phpdbg. No other extensions were loaded (even opcache.so).

![image](https://user-images.githubusercontent.com/63829/81748503-f9baa800-9477-11ea-978a-68417897a863.png)

[2020-05-13 12:06] bwoebi commented on #48
To be precise, the jump at the end of the first if branch to skip the last else is compiled to be present on line 10. IIRC, the idea has been to possibly drop lineno info of these implicit jumps so that they won't appear in coverage reports. But that's a topic for the engine, not this extension in particular.

[2020-05-15 13:52] oprypkhantc commented on #46
Yep, same problem here. MacOS, PHP 7.4.6, latest pcov.

[2020-05-19 12:49] mlukjanska25f opened #50 "Question: Is there a functionality of merging the codecoverage reports?"
We are running our tests in parallel hence each instance produces it's own codecoverage reports.
So I was wondering if there is a way to merge these reports (both xml and html)?
Is this applicable https://github.com/Nimut/phpunit-merger?

Thanks in advance

[2020-05-28 08:54] SamMousa commented on #50
@mlukjanska25f you're in the wrong place.
This library collects coverage but doesn't create any external report.

You should probably close this issue and have a look at this library instead: https://github.com/sebastianbergmann/php-code-coverage

[2020-05-28 10:01] #50 closed, assigned to nobody

[2020-06-09 18:34] dac514 opened #51 "Missing Code Coverage When Phpunit's Process Isolation Is False"
- PHP 7.3.17
- PHPUnit 8.5.5
- pcov 1.0.6

Steps to reproduce:

1. Download attached code: [pcov-bug-report.zip](https://github.com/krakjoe/pcov/files/4754066/pcov-bug-report.zip)
2. `composer install`
3. `./vendor/bin/phpunit --configuration tests/phpunit.xml  --coverage-clover clover.xml`

**Expected:** Accurate code coverage

**Actual:** Missing coverage in switch statements using consts

**Wor

[2020-06-09 21:00] dac514 commented on #51
Another workaround, in tests/phpunit.xml:

Change: `processUncoveredFilesFromWhitelist="true"`
To: `processUncoveredFilesFromWhitelist="false"`

[2020-06-10 08:01] krakjoe commented on #51
This is an upstream problem: phpuinit is failing to set the interpreter for the new process with the configuration from the parent process.

[2020-06-10 08:01] #51 closed, assigned to nobody

[2020-07-14 15:13] #48 closed, assigned to nobody

[2020-07-20 14:46] alb3ric opened #52 "PCOV and Webdriver"
Hello,

I have a project with phpunit 6.5. I'm using the Krakjoe/pcov driver (pcov clobber).
Everything work fine except for tests running with php-webdriver/webdriver.

Am I missing something ? When I was using xdebug code coverage I had to prepend code in the htaccess, I thought I didn't had to do so with PCOV but maybe I'm wrong.

Thanks in advance for your help

Best regards

[2020-07-31 09:46] lamtranb opened #53 "Question about generating coverage report"
Hi,

I'm using:
- PHPUnit 9.2
- PHP 7.4.6 with PCOV 1.0.6

When I used XDebug, when my tests fail, no coverage report would be generated. But when I use PCOV, it still generated coverage report and I don't really want it.

![image](https://user-images.githubusercontent.com/23415304/89023154-4e6e1080-d34d-11ea-9907-9574b333974b.png)

How could I stop it?
Many thanks.

[2020-08-15 04:01] #35 closed, assigned to nobody

[2020-08-24 14:32] caleuanhopkins opened #54 "Path Coverage"
PHPUnit and PHP-Code-Coverage are now able to do path and branch coverage using Xdebug (https://github.com/sebastianbergmann/php-code-coverage/issues/380). Any plans for expanding PCOV to include path coverage?

[2020-10-13 02:48] #53 closed, assigned to nobody

[2020-10-14 09:28] webmaster777 commented on #46
Having this issue too.

Couldn't figure out why CI unit tests passed and locally got a segfault while on the same versions for all components:

Was able to reproduce using the code sample from the OP.
[code]

[code]

On macOS Catalina 10.15.7 (19H2)

I built php using homebrew.

Code sample works on both php7.2 and php7.3. Also, code coverage worked properly in phpunit when using a different provi

[2020-10-23 12:50] fleuryc opened #56 "Reporting method curly braces ( `{` and `}`) as not covered, but method content as covered"
Hi !

Very weird : since a few weeks/months, method curly braces ( `{` and `}`) are reported as not covered , even if the method declaration and content are reported as covered (and they are actually covered).

Command used :
[code]

The coverage is then sent to SonarCloud, and the uncovered lines break our Quality Gate.

Fro example, this DTO :

![image](https://user-images.githubusercontent.com/

[2020-12-05 22:10] Ayesh opened #57 "Windows DLLs for PHP 8.0"
Thanks a lot for the work on this great extension. We probably saved several build hours using PCOV.

I tried to compile pcov on PHP 8.0 branches, and it worked well. Would it be possible to upload Windows DLLs to https://pecl.php.net/package/pcov?

Thank you.

[2020-12-11 23:50] everton-nasc commented on #35
Hey guys, just wondering to verify if there's an option for `pcov.directory`.
I've two projects that I'd like to get the coverage, but I just got the coverage for the folder `app\`.

I tried to include another folder along with `app/` like this:
[code]
But it didn't work. Here's the report output:
<img width="1662" alt="Screen Shot 2020-12-11 at 5 52 02 PM" src="https://user-images.githubuserconte

[2021-01-18 16:41] pgrenaud commented on #46
Me and all my colleagues are having the same issue as well. To bring new data to the conversation, PHP 8.0 is also affected by the issue. I ran the code provided by @mikey179 and was able to replicate on PHP 7.4 and 8.0.

If that can be useful, here some information about my environment:

[code]

[code]

PHP 7.4:

[code]

[code]

PHP 8.0:

[code]

[code]

[2021-01-27 16:08] Agotfrid opened #58 "Getting Segmentation Fault Errors"
While running phpunit 8.5.6 with PHP 7.4.14 with PCOV 1.0.6 I keep getting `segmentations fault`.
We just upgraded our php to 7.4 when we noticed this error.
While running Xdebug, the coverage collection is completed as expected.
![image](https://user-images.githubusercontent.com/48728579/105871496-fc860a80-5fbe-11eb-9480-05c5b06540cb.png)

When the tests are not run in random, the segmentation fa

[2021-01-28 15:50] #58 closed, assigned to nobody

[2021-01-28 15:53] Agotfrid commented on #46
Same segmentation fault issue here.
Running on MacOS Catalina 10.15.7.
PHPUnit 8.5.6 with PHP 7.4.14 with PCOV 1.0.6
I keep getting segmentations fault.
We recently upgraded our php to 7.4 when we noticed this error.
While running Xdebug, the coverage collection is completed as expected.

![image](https://user-images.githubusercontent.com/48728579/106163245-903a1100-614e-11eb-8b8f-2b42d82e362b.png

[2021-01-28 15:54] Agotfrid commented on #58
Issue was already opened [here](https://github.com/krakjoe/pcov/issues/46)

[2021-02-06 22:38] jasonrm commented on #46
If PHP >=7.4.0 is built with the `--enable-debug` flag during `./configure`, I was able to get a test for anonymous classes to pass.

Doing a git-bisect points to https://github.com/php/php-src/commit/d5943f5a11976ffbe89b9634b86d9a0b2adda30a as the initial cause, but it's possible it just revealed an existing issue. Reverting the commit on the closest tag after, php-7.4.0beta1, allowed the test ca

[2021-02-17 13:55] pgrenaud commented on #46
Looking at @jasonrm response, is it ok to conclude that this is a php issue? Should we raise this issue to the php bug tracker?

[2021-03-07 22:55] fennik commented on #49
Any update on this?

We have just run across the issue in our laravel project where we have introduced a second directory `src/` additional to the default `app/` directory. As a result of having 2 directories, we get 0% coverage across the board.

Haven't found a workaround yet

[2021-03-08 07:17] kubawerlos commented on #49
@fennik you can set `pcov.directory` to the project's root - this is how I did it: https://github.com/kubawerlos/php-cs-fixer-custom-fixers/blob/v2.4.1/.github/workflows/ci.yaml#L64

[2021-03-15 06:30] sebastianbergmann opened #59 ""malloc_consolidate(): invalid chunk size" with PHP 8.1"
The tests for PHPUnit fail with PHP 8.1 on GitHub Actions when PCOV (1.0.6) is used for code coverage because PHP prints
[code]
which leads to PHPT test failing as their assertions operate on PHP output:

* https://github.com/sebastianbergmann/phpunit/runs/2093832283#step:12:75
* https://github.com/sebastianbergmann/phpunit/runs/2093832283#step:12:95
* https://github.com/sebastianbergmann/phpunit/

[2021-03-16 06:32] sebastianbergmann commented on #59
I can reproduce the issue with PCOV 1.0.7-dev (current state of `develop` branch):
[code]
With both PCOV 1.0.6 and PCOV 1.0.7-dev, I get
[code]
on my local machine where I get
[code]
on GitHub Actions.

[2021-03-17 09:06] #59 closed, assigned to nobody

[2021-03-17 09:17] dominikzogg opened #60 "Issue with empty response with php builtin server"
It seems there is an issue (rare edgecase) using the builtin webserver with pcov and empty responses:

https://github.com/slimphp/Slim-Psr7/issues/189

[2021-03-17 09:22] nikic commented on #60
This issue is fixed by https://github.com/krakjoe/pcov/commit/fa3bb62f728bcdd8be2ddcef37f785d79ca63014 as of five minutes ago :)

[2021-03-17 09:27] #60 closed, assigned to nobody

[2021-03-17 11:00] krakjoe commented on #46
If someone could please test head of develop fa3bb62f728bcdd8be2ddcef37f785d79ca63014

[2021-03-17 17:32] jasonrm commented on #46
Seeing the same segfault with https://github.com/krakjoe/pcov/commit/fa3bb62f728bcdd8be2ddcef37f785d79ca63014 on 7.4.16

[2021-03-18 11:07] krakjoe commented on #46
Once again, could someone please test head of develop 024cd48f0d36a27d4a76beeaf0a364738b051d81

[2021-03-18 18:45] jasonrm commented on #46
https://github.com/krakjoe/pcov/commit/024cd48f0d36a27d4a76beeaf0a364738b051d81 is passing for the newly included test (on macOS via nixpkgs-unstable, but i suspect via brew would be working as well).

[2021-03-18 18:49] webmaster777 commented on #46
I was just fetching new 7.4 via brew, will build+test too.

*edit*: yep works too!

[2021-03-19 05:15] krakjoe opened #61 "Release 1.0.7"
Hi Remi,

Can you do a release please when you have a moment.

  - Fix #46
  - Fix #59
  - 8.1 compatibility

It maybe worth adding a note that from 8.1 onward, pcov will use the CFG shipped with (and exported by) PHP (yay).

I'm not sure if we want to do a new source package that drops the old complex build configuration ... and I'm not sure when we would do that ... if you have any ideas/suggest

[2021-03-19 07:26] remicollet commented on #61
Working en it

`php -n -d extension=pcov -d pcov.enabled=0 --ri pcov` segfaults

Please check and confirm 2f471dd is OK

[2021-03-19 08:04] remicollet commented on #61
Released and announced

[2021-03-19 08:04] #61 closed, assigned to remicollet

[2021-03-19 09:39] krakjoe commented on #61
Thanks @remicollet

[2021-03-19 09:39] #46 closed, assigned to nobody

[2021-03-19 12:59] cmb69 commented on #57
The Windows DLLs are build automatically when a new extension version is released. 1.0.7 has been released recently, but there are issues regarding the Windows builds, starting with #62.

[2021-03-19 13:01] cmb69 opened #63 "cfg/800 missing"
At least when building with PHP 8.0 on Windows, I get
[code]

[2021-03-19 13:13] remicollet commented on #63
@cmb69 this should be a problem in the config.w35 file

cfg/800 doesn't exists (704 is used)

See https://github.com/krakjoe/pcov/blob/develop/config.m4#L26

[2021-03-19 13:15] remicollet commented on #63
Can you try

[code]

[2021-03-19 13:19] remicollet commented on #63
Also

[code]

[2021-03-19 13:20] remicollet commented on #63
And probably
[code]

[2021-03-19 14:08] remicollet commented on #63
Fixed

[2021-03-19 14:08] #63 closed, assigned to nobody

[2021-03-20 06:19] remicollet opened #66 "Release 1.0.8"
Changes:

- Fix Windows build

[2021-03-20 06:21] remicollet commented on #66
FYI @cmb69

@krakjoe If OK for you, I can take care of it on Monday

[2021-03-20 13:07] krakjoe commented on #66
Is fine, and thanks for taking the time /cc @cmb69

On Saturday, 20 March 2021, Remi Collet ***@***.***> wrote:

[2021-03-20 13:11] cmb69 commented on #66
Thanks! Looks good to go. :)

[2021-03-22 06:55] remicollet commented on #66
Released and announced

[2021-03-22 06:55] #66 closed, assigned to remicollet

[2021-03-22 10:57] remicollet commented on #57
It seems everything is now available

https://pecl.php.net/package/pcov/1.0.8/windows

[2021-03-22 10:57] #57 closed, assigned to nobody

[2021-03-22 14:30] krakjoe commented on #66
Thanks remi

On Monday, 22 March 2021, Remi Collet ***@***.***> wrote:

[2021-03-23 01:39] shivammathur commented on #59
@krakjoe it still segfaults with the same error. Tested with pcov 1.0.8
https://github.com/shivammathur/test-setup-php/runs/2171419413?check_suite_focus=true#step:8:114

[2021-03-27 19:35] hctom commented on #52
I can confirm I have similar issues. I am running PHPUnit tests with chromium-webdriver. Everything works fine when using Xdebug for code coverage, but as soon as I switch over to PCOV, the webdriver connection fails with: `Could not open connection: unknown error: DevToolsActivePort file doesn't exist`.

So is there something we have to change to get PCOV working with a webdriver?

[2021-06-06 04:47] TRowbotham opened #67 "Pcov using almost 14 GB of memory to generate coverage"
Hi,

While running code coverage on a recent project I discovered that pcov consumed nearly 14 GB of memory and I can't figure out why exactly. I tried code coverage using xdebug and it only used 68 MB of memory to generate coverage for the same code. This was using PHP 7.4.20 on WSL2/Ubuntu 20.04. Please let me know if I can provide any additional information.

Steps to reproduce:
1) Clone https:

[2021-06-06 04:55] TRowbotham commented on #67
I'll note that 99% of the memory is a result of this test https://github.com/TRowbotham/Encoding/blob/3743b014bdc09a98736341f99bc5a284028afecc/tests/Utf8EncodingTest.php#L110-L157

[2021-06-06 06:32] krakjoe commented on #67
xdebug does not use zend mm, and so does not report used memory correctly.

please check what the operating system reports.

This is unlikely to be a bug, but a result of the kind of tests you are
running.

On Sun, 6 Jun 2021 at 06:55, Trevor Rowbotham ***@***.***>
wrote:

[2021-06-06 07:01] TRowbotham commented on #67
According to hwinfo64, when running with xdebug, it consumes roughly 1 GB. When running with pcov it consumes roughly 13.7 GB.

[2021-06-06 10:34] krakjoe commented on #67
pcov is unaware of the exclude set in xml, see documentation for excluding that directory.

[2021-06-06 22:04] TRowbotham commented on #67
I tried deleting the excluded directory and moving it out of the src directory and ran the test mentioned in https://github.com/krakjoe/pcov/issues/67#issuecomment-855337303, as it doesn't use any of the excluded files, and it still uses nearly 14 GB of memory with pcov. That same test uses roughly 30 MB of memory without any code coverage. So, this is not related to not specifying `pcov.exclude`.

[2021-06-07 07:08] #67 closed, assigned to nobody

[2021-06-07 07:14] krakjoe commented on #67
I'll just explain some words I used:

pcov maps/mapped the actual path through code as quickly as possible, even though this map will contain duplicate information. I done this so that the data may be used for more than line coverage. None of those other uses have ever actually materialized, and although branch coverage should be on the roadmap somewhere, I've no idea when/if I'll do that.

As a r

[2021-06-07 07:37] TRowbotham commented on #67
No offense taken, I appreciate you taking the time to investigate it and for the quick fix and the detailed response. It was a valid point as I was in-fact assuming that pcov was aware of the xml exclusion set, so I learned something new.

Agreed about the tests; the offending test iterates over every Unicode code point, which is really expensive as that test alone makes 50+ million function calls

[2021-06-07 07:47] krakjoe commented on #67
You're welcome, thanks for fast feedback.

[2021-06-07 07:48] krakjoe opened #68 "Release v1.0.9"
Hi Remi,

Can we roll a release please:

  - Fix #67

That's all it contains.

[2021-06-07 10:35] remicollet commented on #68
Will take care of it in the next hours (after lunch)

[2021-06-07 10:58] remicollet commented on #68
Released and available on pecl.

[2021-06-07 10:58] #68 closed, assigned to remicollet

[2021-06-07 13:24] krakjoe commented on #68
Thanks remi, much appreciated

On Monday, 7 June 2021, Remi Collet ***@***.***> wrote:

[2021-07-09 12:16] storm1er opened #69 "Any way to dynamically change pcov.enabled settings?"
Hi,

I see `pcov.enabled` is only `Changeable: SYSTEM`,
Is there any way to change it programmatically?

It would be great to be able to use an environment variable to change it on the fly with `dotenv` for example.
Pcov would not start if a `DISABLE_PCOV` env var is detected.

The idea would be to switch on/off with Blackfire for profile/testing purposes =)

[2021-07-27 13:43] Agotfrid commented on #69
Have you tried using `php -dpcov.enabled=0` to turn off PCOV while running tests?

[2021-07-28 08:20] gitnchez commented on #56
Hi
Check your newlines, this happens when you have windows-style line separators- CLRF (\r\n) instead of linux (\n)

[2021-08-20 11:40] Khartir opened #70 "No coverage report for inline functions with PHP 8.1"
I just tested the latest PHP 8.1 beta and noticed that pcov does not report coverage of the body of an inline function.
Code like this:
[code]
reports no coverage of line 2 at all.

[2021-09-10 13:01] santarinto opened #71 "\pcov\collect return null"
SebastianBergmann\CodeCoverage\RawCodeCoverageData::fromXdebugWithoutPathCoverage(): Argument #1 ($rawCoverage) must be of type array, null given, called in /data/vendor/phpunit/php-code-cover
  age/src/Driver/PcovDriver.php on line 63

Maybe there is some way to view debugging information about this?

Note: php 8.0.7; pcov 1.0.9 xdebug is off

[2021-09-13 14:00] santarinto commented on #71
[code]

Not work too :/

[2021-10-07 12:58] csandanov opened #72 "Delimiter must not be alphanumeric or backslash"
I get the following warning when enable pcov extension
[code]

My config:
[code]

[2021-10-07 13:04] csandanov commented on #72
I also tried not setting `pcov.exclude` or setting it to `""`

[2021-10-07 13:08] csandanov commented on #72
Ok, setting exclude to `""` actually fixes it, my bad 🤦🏻‍♂️

[2021-10-07 13:08] #72 closed, assigned to nobody

[2021-11-02 09:00] sebastianbergmann opened #73 "malloc_consolidate() messages while collecting code coverage"
When I run PHPUnit's own test suite with code coverage collection using PCOV enabled then I get a lot of `malloc_consolidate(): unaligned fastbin chunk detected` messages.

I am using @remicollet's packages for PHP 8.1.0RC5 and PCOV 1.0.9 on Fedora 35.

[code]

[2021-11-12 11:04] nikic opened #74 "Cannot build pcov in-tree"
The version check in https://github.com/krakjoe/pcov/blob/6a38be3d121b25aae01266a9d402f85fd360f213/config.m4#L8 does not work for an in-tree build, only when going through phpize.

[2021-11-12 11:09] mabar commented on #73
I can confirm that issue, I have pcov-related failures in 4 packages. Running Ubuntu 20.04.3 and latest commit from PHP-8.1 branch via Github action shivammathur/setup-php
https://bugs.php.net/bug.php?id=81612

https://github.com/orisai/nette-console/runs/4178441932?check_suite_focus=true
https://github.com/orisai/nette-monolog/runs/4178461063?check_suite_focus=true
https://github.com/orisai/local

[2021-11-16 15:07] SamMousa opened #76 "Closing braces not covered"
![image](https://user-images.githubusercontent.com/547021/142010336-6d0b3e60-e517-41e6-ac2a-60953d07c9b7.png)

Mangling my code further does yield green coverage:

![image](https://user-images.githubusercontent.com/547021/142010580-05d1fd89-dac2-4968-96b7-2b00901e743f.png)

Let me know if any aditional information is required.

[2021-11-23 19:45] pgrenaud opened #77 "What is pcov release schedule? Is it possible to publish a new release soon?"
Greetings,

We observed a bug lately that was recently fixed in develop and we were wondering when is the next release planned? We were unable to find any information about pcov release schedule, hence why this issue. Would you be able to publish a new release soon?

For context about the "bug". We are currently having segmentation faults or abort traps when running brianium/paratest (parallel php

[2021-11-24 08:18] krakjoe opened #78 "Release"
Hi @remicollet

Could you roll a release please ?

#77

[2021-11-24 08:50] remicollet commented on #78
Changelog:

* Use zend_new_interned_string instead of hand-rolling
* Use ZEND_MOD_END to fix build warning

[2021-11-24 09:09] remicollet commented on #78
Version **1.0.10** released

[2021-11-24 09:09] #78 closed, assigned to remicollet

[2021-11-24 09:09] remicollet commented on #77
Version **1.0.10** released

[2021-11-24 09:09] #77 closed, assigned to nobody

[2021-11-24 13:35] pgrenaud commented on #77
Thanks a lot for the quick action!

[2021-12-17 00:45] andrewbroberg commented on #70
Experiencing the same here on release PHP 8.1.0

[2021-12-20 16:25] krakjoe opened #80 "Release 1.0.11"
Hi @remicollet

Can we get an 8.1 compat release with my last commit please ?

Thanks in advance.

[2021-12-20 16:26] krakjoe opened #81 "CI to Actions"
CI needs converting to use actions ...

@cmb69 @remicollet any interest in doing this ?

[2021-12-20 16:28] krakjoe commented on #74
@remicollet do you know the right incantation for autotools ?

[2021-12-20 16:29] krakjoe commented on #70
Fixed in HEAD.

[2021-12-20 16:29] #70 closed, assigned to nobody

[2021-12-20 16:31] remicollet commented on #80
@krakjoe  will take care of it early tomorrow

[2021-12-20 16:32] krakjoe commented on #69
I don't want to off switches, it's too confusing.

[2021-12-20 16:32] #69 closed, assigned to nobody

[2021-12-20 16:48] cmb69 commented on #81
I can do the Windows part soonish (especially without OPcache, which is not used for AppVeyor as well). I'll have to find a general solution for testing with OPcache enabled.

[2021-12-20 17:03] remicollet commented on #80
Released and announced

[2021-12-20 17:03] #80 closed, assigned to remicollet

[2021-12-20 18:28] krakjoe commented on #80
Thanks remi, appreciated

On Mon, 20 Dec 2021, 18:04 Remi Collet, ***@***.***> wrote:

[2021-12-29 12:12] ostrolucky opened #84 "pcov core dump issue in php 8.1 with phpunit @runInSeparateProcess"
We have issue in DoctrineBundle with following test in PHP 8.1

https://github.com/doctrine/DoctrineBundle/blob/4fd840eb3c6469619be34d473af3dbc3a6b2a957/Tests/DependencyInjection/ConfigurationTest.php, see https://github.com/doctrine/DoctrineBundle/commits/test-failure-experiment and one of its CI failures

Above is reduced version of the file after troubleshooting it to shrink down the reproducer

[2022-03-23 13:32] theKosmoss opened #85 "Pcov shows less covered files than xDebug in coverage results"
For a few tests pcov shows a 0% coverage result instead of xDebug, which reports more files covered.  XDebug results are more accurate in that manner.

How to tune up pcov so that results would be more similar to xDebug and it would include all actually covered files?

where could be an issue?

[2022-03-24 05:55] xiak commented on #76
I have the same issue

[root@3b737c8171f9 /]# yum list installed | grep pcov
php-pecl-pcov.x86_64                 1.0.11-1.el7.remi.7.4      @remi-php74

php --version
PHP 7.2.34 (cli) (built: Nov 15 2021 09:20:49) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies

phpunit --version
PHPUnit 8.5.9 by Sebastian Bergmann and contributors.

<im

[2022-04-15 15:30] Stevemoretz opened #86 "Feature request : make pcov.directory load from coverage list in phpunit or a config file"
So far this is the only thing which it's not that great to work with in your extension, adding `dpcov.directory` manually is a little troublesome you see for instance I use Intellij Idea which let's you run tests with its ui, adding this option every time manually not only is time consuming but it causes a lot of errors by different members of the team.

I'm not really familiar with how php extens

[2022-05-18 11:59] #76 closed, assigned to nobody

[2022-05-18 12:23] SamMousa opened #87 "Weird coverage on match statements"
I'm seeing some weird results in code coverage for match statements:
![image](https://user-images.githubusercontent.com/547021/169037624-680d195a-ee69-433f-a4d1-189eb3c3766e.png)

Note that this sample code is intentionally broken so that we're 100% sure that PHP is not executing the lines pcov claims are covered.

[2022-05-30 08:11] Preen opened #88 "deleted."
...

[2022-05-30 08:13] #88 closed, assigned to nobody

[2022-05-30 08:13] Preen commented on #88
Sorry wrong repo...

[2022-06-08 14:07] Whax opened #89 "Warning: JIT is incompatible with third party extensions that override zend_execute_ex(). JIT disabled. in Unknown on line 0"
Hi,

you probably know it but I didn't see any ticket about that. When I enable JIT with PCOV, I have the following problem :

```Warning: JIT is incompatible with third party extensions that override zend_execute_ex(). JIT disabled. in Unknown on line 0```

I think it's related to https://bugs.php.net/bug.php?id=80608

Any plan ? :)

[2022-06-15 12:23] Slamdunk opened #90 "Add PCOV_ENABLED env var as enable/disable switch"
Hi, xDebug:v3 has introduced the [`XDEBUG_MODE`](https://xdebug.org/docs/all_settings#mode) environment variable to turn xDebug on and off.

In context where you spawn child processes like [ParaTest](https://github.com/paratestphp/paratest/) env vars are easier to handle and propagate to external procs than custom `ini` settings passed as options to the php-cli binary (i.e. `php -d pcov.enabled=1`

[2022-07-25 09:16] infatu8 opened #91 "what"
i have a php file named test.php, the last line number is 30, and it is an empty line
\pcov\collect() return an array
[code]
why the key of first item in the return array is 30.

[2022-08-02 08:33] shyim commented on #86
That looks like an issue for phpunit and not pcov. they can ini_set it what they want

[2022-08-02 08:39] shyim opened #92 "Pcov crashes with PHP 8.2"
[code]

[code]

[2022-08-02 08:42] Stevemoretz commented on #86
Sounds logical would you mind reporting this issue to them, so they might act upon it?

[2022-09-15 15:53] manarth commented on #74
Also in-tree appears to surface a duplicate-definition error:

[code]

[2022-09-27 20:40] porthorian opened #93 "PCOV causes segmentation fault during memory overflow."
### Description

The following code:

[code]

Resulted in this output:
[code]

But I expected this output instead:
[code]

### PHP Version

8.1.9

### Operating System

Linux 175dab3f7cb7 5.19.7-arch1-1 #1 SMP PREEMPT_DYNAMIC Mon, 05 Sep 2022 18:09:09 +0000 x86_64 GNU/Linux

[2022-09-27 20:43] porthorian commented on #93
The bug was originally opened up at https://github.com/php/php-src/issues/9623

[2022-09-30 19:15] supun-io commented on #42
In my case,  it always said 0% coverage for code in the `/app` folder.

The reason was I had another folder named `/src`, which contained some legacy code. After I renamed it, all were fine!

Hope this helps someone.

[2022-10-14 11:56] cavo789 opened #94 "Thanks! Improvement of 50% of my phpunit stage"
Wow!  Just by disabling XDEBUG_MODE (`=off`)  and installing pcov in my Docker image, I've reduced the time needed by my *unit tests* stage from 11 minutes to 5 minutes and 30 seconds.  50% of increase with the same features.  The same number of tests are fired and the code covering is the same.

Amazing.

**Thanks for you work!!!**

[2022-10-24 14:58] PeterDKC commented on #86
Actually this is not a fix for this issue. pcov actively refuses to honor anything except global `.ini` changes to this value. I have a scenario where I have 6 applications running on local dev that use a grab bag of source directories including multiple source directories, as well as source directories that do not fit any of these names. I have tried setting the `pcov.directory` in `composer.json

[2022-10-25 14:40] bancer commented on #86
Yes, it is very annoying that pcov does not take into account `<coverage>` paths from phpunit configuration file. The same problem in details is described here - https://stackoverflow.com/questions/68688566/why-is-phpunit-pcov-not-generating-code-coverage-stats.

[2022-10-27 07:08] Stevemoretz commented on #86
Even if this can be only fixed through phpunit, you should ask them to support it (as I mentioned earlier) with providing the steps, I haven't tested it myself but @PeterDKC mentions ini_set doesn't even work.

If your library depends on a tool to work, you need to do the compatibility checks for it too. Send a PR, add a feature request, or simply just at least report the issue with steps to fix i

[2022-11-01 14:36] PeterDKC commented on #86
Just to be clear about this behavior:

- global `.ini` sets it to `src/`
- local `.ini` sets it to `app/`
- code that needs covering is in `app/` and `src/`
- A bunch of 3rd party manually installed code that isn't examined by tests and does not need coverage is in `lib/`
- `pcov` completely ignores the `app/` and `src/` directories and only looks at `lib/` because that's the one it "saw" first.
-

[2022-11-11 21:05] shyim opened #95 "Segmentation fault at the end of Phpunit job"
Happens with PHP 8.1 and PHP 8.2

Backtrace
[code]